Remote-Health-Monitoring-App.json
[{"id":"4e8b8d2f.5ff33c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"128016ba.d80639","type":"function","z":"4e8b8d2f.5ff33c","name":"Pre Auth","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"temp\",msg.payload.temp)\nglobal.set(\"sys\",msg.payload.systolic)\nglobal.set(\"dis\",msg.payload.diastolic)\nglobal.set(\"pulse\",msg.payload.pulse)\nvar apikey=\"hC9ZTb5nlNsAO_DbKGb8pXexB-dflzGt5VlPjPrFLLDl\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":332.5,"y":231,"wires":[["9db713cb.de5f18"]]},{"id":"9db713cb.de5f18","type":"http request","z":"4e8b8d2f.5ff33c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":525.5,"y":229,"wires":[["28e57e27.f5a9a2"]]},{"id":"28e57e27.f5a9a2","type":"function","z":"4e8b8d2f.5ff33c","name":"Pre Predict","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dis = global.get(\"dis\")\nvar pulse = global.get(\"pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[age,temp,sys,dis,pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":733.5,"y":222,"wires":[["d37dd304.dc2c4","d9d02302.d622"]]},{"id":"d37dd304.dc2c4","type":"http request","z":"4e8b8d2f.5ff33c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/93ef81c7-3585-4d38-8699-20e96844b539/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":347.5,"y":290,"wires":[["f5930ad1.25c97","86ece4ea.a0565"]]},{"id":"f5930ad1.25c97","type":"function","z":"4e8b8d2f.5ff33c","name":"Data Parsing","func":"try{\n    msg.payload=msg.payload.predictions[0].values[0][0]\n}\ncatch(err){\n    msg.payload=msg.payload.errors[0].message\n}\nglobal.set(\"prediction\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":541.5,"y":291,"wires":[["5d8312a2.81716c"]]},{"id":"5d8312a2.81716c","type":"ui_text","z":"4e8b8d2f.5ff33c","group":"28f0aa77.3ec1e6","order":4,"width":0,"height":0,"name":"Prediction","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":726.5,"y":294,"wires":[]},{"id":"4f7c9349.26b1c4","type":"inject","z":"4e8b8d2f.5ff33c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140.5,"y":129,"wires":[["128016ba.d80639"]]},{"id":"d9d02302.d622","type":"debug","z":"4e8b8d2f.5ff33c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":741.5,"y":155,"wires":[]},{"id":"c2efcb6a.9e241","type":"ui_gauge","z":"4e8b8d2f.5ff33c","name":"","group":"28f0aa77.3ec1e6","order":1,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"BPM","format":"{{msg.payload.pulse}}","min":"50","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"85","x":332.5,"y":445,"wires":[]},{"id":"e7255790.8da61","type":"function","z":"4e8b8d2f.5ff33c","name":"PreChart-Systolic","func":"msg.topic = \"Systolic\"\nmsg.payload = msg.payload.systolic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":362,"y":341,"wires":[["f74d0d99.983218"]]},{"id":"e76e1e41.e4101","type":"function","z":"4e8b8d2f.5ff33c","name":"PreChart-Diastolic","func":"msg.topic = \"Diastolic\"\nmsg.payload = msg.payload.diastolic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":362,"y":391,"wires":[["f74d0d99.983218"]]},{"id":"62c82d71.732e2c","type":"ui_gauge","z":"4e8b8d2f.5ff33c","name":"","group":"28f0aa77.3ec1e6","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Farenheit","format":"{{msg.payload.temp}}","min":"50","max":"98","colors":["#ffff00","#16cf40","#ff0000"],"seg1":"90","seg2":"97.9","x":356,"y":496,"wires":[]},{"id":"ce880455.0ced08","type":"ibmiot in","z":"4e8b8d2f.5ff33c","authentication":"apiKey","apiKey":"fb62fb3.1267388","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"Web-Simulator","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":121.5,"y":273,"wires":[["128016ba.d80639","c2efcb6a.9e241","e76e1e41.e4101","62c82d71.732e2c","e7255790.8da61"]]},{"id":"86ece4ea.a0565","type":"debug","z":"4e8b8d2f.5ff33c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":495,"y":154,"wires":[]},{"id":"91f78961.f12b2","type":"http in","z":"4e8b8d2f.5ff33c","name":"[get]/data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":199,"y":565,"wires":[["3303df17.d83cc8"]]},{"id":"3303df17.d83cc8","type":"function","z":"4e8b8d2f.5ff33c","name":"[get]/data","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dis = global.get(\"dis\")\nvar pulse = global.get(\"pulse\")\nvar prediction = global.get(\"prediction\")\nmsg.payload = {'age': age, \n                'temp': temp, \n                'systolic': sys, \n                'diastolic': dis, \n                'pulse': pulse, \n                'prediction': prediction\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":369,"y":567,"wires":[["530bb872.7fac98"]]},{"id":"530bb872.7fac98","type":"http response","z":"4e8b8d2f.5ff33c","name":"","statusCode":"","headers":{},"x":521.5,"y":567,"wires":[]},{"id":"f74d0d99.983218","type":"ui_chart","z":"4e8b8d2f.5ff33c","name":"","group":"28f0aa77.3ec1e6","order":3,"width":0,"height":0,"label":"Blood Pressure","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"monotone","nodata":"Waiting for sensor value","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":581,"y":365,"wires":[[]]},{"id":"28f0aa77.3ec1e6","type":"ui_group","z":"","name":"Paitent Information","tab":"9df31687.888f7","order":2,"disp":true,"width":"12","collapse":false},{"id":"fb62fb3.1267388","type":"ibmiot","z":0,"name":"Paitent-Auth","keepalive":"60","serverName":"9e9pk6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9df31687.888f7","type":"ui_tab","z":"","name":"Remote Health Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]